
h1 {
    position: absolute;
    width: 154px;
    height: 45px;
    left: 64px;
    top: 20px;
    
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;  
}

.header {
    position: absolute;
    width: 676px;
    height: 56px;
    left: 0px;
    top: 0px;

    background: #4B2E83;
}

h2 {
    position: absolute;
    width: 68px;
    height: 36px;
    left: 589px;
    top: 10px;
    
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF; 
}

hr {
    position: absolute;
    width: 86px;
    height: 0px;
    left: 580px;
    top: 30.5px;

    border: 0.5px solid #FFFFFF;
}

img {
    position: absolute;
    width: 56px;
    height: 37px;
    left: 0px;
    top: 10px;

    background: url(W-Logo_White.png);
}
/* The sidebar menu */
.sidenav {
    height: 91.5%; /* Full-height: remove this if you want "auto" height */
    width: 9.5%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 7%; /* Stay at the top */
    left: 0.4%;
    background-color: #A8C8C7; 
    /*overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0.5%;
    padding-left: 0%;
    padding-right: 0%;
  }
  /* The navigation menu links */
  .sidenav b {
    padding: 0% 0% 0.5% 0.5%;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    font-family: Encode Sans;
    font-style: normal;
    font-size: 90%;
    line-height: 110%;
    text-align: center;
    font-weight: 20;
  }
  .sidenav a {
    padding: 0% 0% 1% 1%;
    color: #111;
    display: block;
    text-align: center;
    margin-top: 5%; 
    margin-left: 23%;
    margin-bottom: 5%;
    height: 7.5%;
    width: 48%;
    border:1px solid #000;
  }
  .sidenav aa {
    font-family: Encode Sans;
    font-size: 150%;
    line-height: 110%;
    font-weight: 600;
    text-align: center;
    color: #111;
    margin-top: 50%; 
    top: 200px;
    margin-bottom: 10%;
  }
  .sidenav ab {
    font-family: Encode Sans;
    font-size: 90%;
    line-height: 110%;
    font-weight: 400;
    text-align: center;
    color: #111;
    margin-top: 10%; 
    margin-bottom: 10%;
  }
  .sidenav c{
    padding: 0% 0% 1% 1%;
    font-size: 25px;
    color: #111;
    display: block;
    font-family: Encode Sans;
    font-style: normal;
    font-size: 90%;
    line-height: 110%;
    text-align: center;
  }
  .sidenav d{
    padding: 0px 0px 1px 1px;
    color: #111;
    display: block;
    font-family: Encode Sans;
    font-size: 91%;
    line-height: 110%;
    text-align: center;
    margin-top: 10%; 
    margin-bottom: 5%;
  }
  .sidenav e {
    padding: 0% 0% 1% 1%;
    text-decoration: none;
    color: #111;
    display: block;
    text-align: center;
    margin-top: 5%; 
    margin-left: 23%;
    margin-bottom: 5%;
    height: 7.5%;
    width: 48%;
    border:1px solid #000;
  }
  .sidenav ea {
    font-family: Encode Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    line-height: 110%;
    text-align: center;
    color: #111;
    margin-top: 20%; 
    margin-bottom: 10%;
  }
  .sidenav eb {
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 90%;
    line-height: 110%;
    text-align: center;
    color: #111;
    margin-top: 10%; 
    margin-bottom: 10%;
  }
  .sidenav f{
    padding: 0% 0% 1% 1%;
    color: #111;
    display: block;
    font-family: Encode Sans;
    font-size: 90%;
    line-height: 110%;
    text-align: center;
  }
  .sidenav hr{
    position: absolute;
    border: 0.5px solid #111;
    width: 85%;
    height: 0%;
    left: 5%;
    top: 18%;
  }


