
html {
  background: #E5E5E5;
}
h1 {
    position: absolute;
    width: 154px;
    height: 45px;
    left: 64px;
    top: 20px;
    
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;  
}

.header {
    position: absolute;
    width: 676px;
    height: 56px;
    left: 0px;
    top: 0px;

    background: #4B2E83;
}

h2 {
    position: absolute;
    width: 68px;
    height: 36px;
    left: 589px;
    top: 10px;
    
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF; 
}

hr {
    position: absolute;
    width: 86px;
    height: 0px;
    left: 580px;
    top: 30.5px;

    border: 0.5px solid #FFFFFF;
}

img {
    position: absolute;
    width: 56px;
    height: 37px;
    left: 0px;
    top: 10px;

    background: url(W-Logo_White.png);
}
/* The sidebar */
.sidenav {
    height: 344x; 
    width: 148px; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 7%; 
    left: 0.4%;
    background-color: #A8C8C7; 
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }
/* Regular text that appears on the sidebar */
.sidenav p.sidebar-text { 
  color: #111;
  font-family: Encode Sans;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-weight: normal;
}
/* The square the goes around the data */
.sidenav div.square {
  padding: 0% 0% 0% 0%;
  color: #111;
  text-align: center;
  margin-left: 25%;
  margin-top: -5%;
  margin-bottom: -5%;
  height: 70px;
  width: 70px;
  border:1px solid #000;
}
/* The words that go right under the numbers in the square */
.sidenav div.square p.description {
  font-family: Encode Sans;
  font-size: 14px;
  line-height: 110%; /* different from sidebar-text */
  font-weight: 400;
  text-align: center;
  color: #111;
  margin-top: -5%; /* different from sidebar-text */
}
/* The numbers inside the data square */
.sidenav div.square p.number {
  font-family: Encode Sans;
  font-size: 150%;
  line-height: 110%;
  font-weight: bold;
  text-align: center;
  color: #111;
  margin-top: 10%; 
  top: 200px;
  margin-bottom: 10%;
}
/* The line that separates the two facts */
.sidenav hr{
  border: 0.5px solid #111;
  width: 132px;
  left: 10px;
  top: 165px;
}

/*buttons:*/
button div.button1 {
  position: absolute;
  width: 90px;
  height: 90px;
  background: #31859C;
  border-radius: 5px;
  left: 173px;
  top: 77px;
}

button div.button2 {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 304px;
  top: 77px;
  background: #31859C;
  border-radius: 5px;
}

button div.button3 {
  height: 90px;
  width: 90px; 
  position: absolute; 
  top: 77px; 
  left: 435px;
  background-color: #31859C;
  border-radius: 5px;
}

button div.button4 {
  height: 90px;
  width: 90px; 
  position: absolute; 
  top: 77px; 
  left: 566px;
  background-color: #31859C;
  border-radius: 5px;
}

/*the words "tap to" on the button*/
button p.tapTo {
  width: 90px;
  height: 16px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  color:#FFFFFF;
}

/*the description on the button*/
button p.description {
  width: 90px;
  height: 20px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

/*make the buttons change state when you hover over*/
div.button1:hover, div.button1:focus, div.button1:active, div.button2:hover, div.button2:focus, div.button2:active, 
div.button3:hover, div.button3:focus, div.button3:active, div.button4:hover, div.button4:focus, div.button4:active {
  background: #ECECEC;
  border: 1px solid #31859C;
  box-sizing: border-box;
  border-radius: 5px;    
  cursor: pointer; /* displays a hand */
  /*font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #31859C;*/
}