#title {
  color: rebeccapurple;
  font-size: 20px;
}

tr:nth-child(2n) td:nth-child(2n), tr:nth-child(2n - 1) td:nth-child(2n - 1){
  background-color: pink;
}


td {
  border: maroon 5px solid;
  padding: 1em;
}

.button {
  border: maroon 5px solid;
  background-color: bisque;
}

.button:hover {
  background-color: black;
  color: white;
}