
html {
  background: #E5E5E5;
  zoom: 2.634146341;
}
h1 {
    position: absolute;
    width: 154px;
    height: 45px;
    left: 64px;
    top: 20px;
    
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;  
}

.header {
    position: absolute;
    /*width: 676px;*/
    width: 728.9px;
    height: 56px;
    left: 0px;
    top: 0px;

    background: #4B2E83;
}

h2 {
    position: absolute;
    width: 68px;
    height: 36px;
    /*left: 589px;*/
    left: 635.1px;
    top: 10px;
    
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF; 
}

hr {
    position: absolute;
    width: 86px;
    height: 0px;
    /*left: 580px;*/
    left: 625.4px;
    top: 30.5px;

    border: 0.5px solid #FFFFFF;
}

.logo {
    position: absolute;
    width: 56px;
    height: 37px;
    left: 0px;
    top: 10px;

    background: url(W-Logo_White.png);
}
/* The sidebar */
.sidenav {
    height: 344px;
    width: 149px; 
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    top: 61px; 
    left: 5px;
    background: rgba(75, 46, 131, 0.3);
    /*padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;*/
  }
/* Regular text that appears on the sidebar */
.sidenav p.sidebar-text { 
  color: #111;
  font-family: Encode Sans;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-weight: normal;
}
/* The square the goes around the data */
.sidenav div.square {
  padding: 0% 0% 0% 0%;
  color: #111;
  text-align: center;
  margin-left: 25%;
  margin-top: -5%;
  margin-bottom: -5%;
  height: 70px;
  width: 70px;
  border:1px solid #000;
}
/* The words that go right under the numbers in the square */
.sidenav div.square p.description {
  font-family: Encode Sans;
  font-size: 14px;
  line-height: 110%; /* different from sidebar-text */
  font-weight: 400;
  text-align: center;
  color: #111;
  margin-top: -5%; /* different from sidebar-text */
}
/* The numbers inside the data square */
.sidenav div.square p.number {
  font-family: Encode Sans;
  font-size: 150%;
  line-height: 110%;
  font-weight: bold;
  text-align: center;
  color: #111;
  margin-top: 10%; 
  top: 200px;
  margin-bottom: 10%;
}
/* The line that separates the two facts */
.sidenav hr{
  border: 0.5px solid #111;
  width: 132px;
  left: 10px;
  top: 165px;
}

/*buttons:*/
.buttons .benefits div.button1 {
  position: absolute;
  width: 90px;
  height: 90px;
  background: #31859C;
  border-radius: 5px;
  left: 173px;
  top: 77px;
}

.buttons .rainwater div.button2 {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 304px;
  top: 77px;
  background: #31859C;
  border-radius: 5px;
}

.buttons .cycle div.button3 {
  height: 90px;
  width: 90px; 
  position: absolute; 
  top: 77px; 
  left: 435px;
  background-color: #31859C;
  border-radius: 5px;
}

.buttons .game div.button4 {
  height: 90px;
  width: 90px; 
  position: absolute; 
  top: 77px; 
  left: 566px;
  background-color: #31859C;
  border-radius: 5px;
}

/*the words "tap to" on the button*/
.buttons a p.tapTo {
  width: 90px;
  height: 16px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  color:#FFFFFF;
}

/*the description on the button*/
div.buttons a p.description {
  width: 90px;
  height: 20px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

/*make the buttons change state when you hover over*/
div.buttons div.button1:hover, div.buttons div.button2:hover, div.buttons div.button3:hover, div.buttons div.button4:hover{
  background-color: #ECECEC;
  border: 1px solid #31859C;
  box-sizing: border-box;
  border-radius: 5px;    
  cursor: pointer; 
}

div.buttons a p.description:hover, div.buttons a p.tapTo:hover {
  color: #31859C;
}

/*text for dummy routing pages*/
div.text p.dummy-text{
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 200px;
  margin-left: 200px;
}

/*Benefits page buttons*/
#floodingErosion{
  position: absolute;
  width: 221px;
  height: 108px;
  left: 173px;
  top: 175px;

  border: 1px solid #31859C;
  box-sizing: border-box;
  border-radius: 17px;
  outline:none;
  z-index:5;
  display:block;
}

#waterDemand{
  position: absolute;
  width: 221px;
  height: 108px;
  left: 173px;
  top: 291px;

  border: 1px solid #31859C;
  box-sizing: border-box;
  border-radius: 17px;
  z-index:5;
  outline:none;
}

#money{
  position: absolute;
  width: 221px;
  height: 108px;
  left: 435px;
  top: 175px;

  border: 1px solid #31859C;
  box-sizing: border-box;
  border-radius: 17px;
  z-index:5;
  outline:none;
  display:block;
}

#pollution{
  position: absolute;
  width: 221px;
  height: 108px;
  left: 435px;
  top: 292px;

  border: 1px solid #31859C;
  box-sizing: border-box;
  border-radius: 17px;
  z-index:5;
  outline:none;
}
#reduces{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0px;
  top: 1px;

  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #31859C;
}

#saves{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 130px;
  top: 1px;

  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #31859C;
}

#wallet{
  position: absolute;
  width: 98px;
  height: 94px;
  left: 12px;
  top: 8px;
  
  background: url(money.png);
}

#flood{
  position: absolute;
  width: 137px;
  height: 85px;
  left: 73px;
  top: 16px;
  

  background: url(flooding-erosion.png);
}

#demand{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0px;
  top: 0px;

  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #31859C;
}

#water{
  position: absolute;
  width: 89px;
  height: 99px;
  left: 121px;
  top: 5px;

  background: url(water.png);
}

#transportation{
  position: absolute;
  width: 98px;
  height: 90px;
  left: 121px;
  top: 1px;

  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #31859C;
}

#car{
  position: absolute;
  width: 137px;
  height: 78px;
  left: 14px;
  top: 25px;

  background: url(pollution-transportation.png);
}

#floodingErosionBack{
  position: absolute;
  width: 221px;
  height: 108px;
  left: 173px;
  top: 175px;
  z-index:1;
  border: 1px solid #31859C;
  background: #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 17px;
  outline:none;
}

#floodingErosionBackHead{
  position: absolute;
  width: 184px;
  height: 29px;
  left:16px;
  right:21px;
  
  bottom:60px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  
  align-items: center;
  text-align: center;

  color: #31859C;
}

#floodingErosionBackBody{
  position: absolute;
  width: 175px;
  height: 66px;
  left:20px;
  right:26px;
  top:15px;
  bottom:12px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  /* "black" */

  color: linear-gradient(0deg, #2E2A2A, #2E2A2A), linear-gradient(0deg, #A8C8C7, #A8C8C7), linear-gradient(0deg, #A8C8C7, #A8C8C7), #A8C8C7;
}

#moneyBack{
  position: absolute;
  width: 221px;
  height: 108px;
  left: 435px;
  top: 175px;

  border: 1px solid #31859C;
  background: #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 17px;
  outline:none;
}

#moneyBackHead{
  position:absolute;
  width: 184px;
  height: 29px;
  left:16px;
  right:21px;
  
  bottom:60px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  align-items: center;
  text-align: center;

  color: #31859C;

}

#moneyBackBody{
  position: absolute;
  width: 175px;
  height: 66px;
  left:20px;
  right:26px;
  top:15px;
  bottom:12px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  /* "black" */

  color: linear-gradient(0deg, #2E2A2A, #2E2A2A), linear-gradient(0deg, #A8C8C7, #A8C8C7), linear-gradient(0deg, #A8C8C7, #A8C8C7), #A8C8C7;

}

#waterDemandBack{
  position: absolute;
  width: 221px;
  height: 108px;
  left: 173px;
  top: 291px;

  border: 1px solid #31859C;
  box-sizing: border-box;
  border-radius: 17px;
  z-index:1;
  outline:none;
}

#waterDemandBackHead{
  position:absolute;
  width: 184px;
  height: 29px;
  left:16px;
  right:21px;
  
  bottom:60px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  align-items: center;
  text-align: center;

  color: #31859C;

}

#waterDemandBackBody{
  position: absolute;
  width: 175px;
  height: 66px;
  left:20px;
  right:26px;
  top:15px;
  bottom:12px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  /* "black" */

  color: linear-gradient(0deg, #2E2A2A, #2E2A2A), linear-gradient(0deg, #A8C8C7, #A8C8C7), linear-gradient(0deg, #A8C8C7, #A8C8C7), #A8C8C7;
}

#pollutionBack{
  position: absolute;
  width: 221px;
  height: 108px;
  left: 435px;
  top: 292px;

  border: 1px solid #31859C;
  box-sizing: border-box;
  border-radius: 17px;
  z-index:1;
  outline:none;
}

#pollutionBackHead{
  position:absolute;
  width: 184px;
  height: 29px;
  left:16px;
  right:21px;
  
  bottom:60px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  align-items: center;
  text-align: center;

  color: #31859C;

}

#pollutionBackBody{
  position: absolute;
  width: 175px;
  height: 66px;
  left:20px;
  right:26px;
  top:15px;
  bottom:12px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  /* "black" */

  color: linear-gradient(0deg, #2E2A2A, #2E2A2A), linear-gradient(0deg, #A8C8C7, #A8C8C7), linear-gradient(0deg, #A8C8C7, #A8C8C7), #A8C8C7;
}